{% extends 'base.html.twig' %}

{% block title %}Bienvue sur Voy'age !{% endblock %}

{% block body %}
{# {%  for voyage in voyage %} #}
    <div class="container my-4">
        <div class="card-group">
        <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://placeimg.com/640/480/nature" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Voyage vers : Ville</h5>
                <h5>Prix € TTC/pers.</h5>
                <p class="card-text">description</p>
                <a href="#" class="btn btn-primary">Détails</a>
                </div>
            </div>
        <div>
    </div>
{# {% endblock %} #}
{% endblock %}
